body{
    padding-top: 50;
    font-family:'Oswald', sans-serif;
    background-color: beige;
}
h1{
    
    text-align: center;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    text-align: center;
    background-color: #333;
    margin-left: 14em;
    margin-right: 14em;
    
}


li{
    float: left;
    
}

li a{
display: block;
color: white;
text-align: center;
padding: 20px 17px;

}

header{
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 60px;
}

#container{
    background-image: url("kill.png");
    border: solid;
    margin-left: 14em;
    margin-right: 14em;
}


#button{
    text-align: center;
    padding-top: 3em;
    
    
}

#button2{
    text-align: center;
    padding-top: 20px;
}

#button3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10em;
}



button{
    width: 340px;
    height: 50px;
    background-color: lightblue;
    font-size: 16px;
    
}

#notes{
    margin:0 auto;
    width: 800px;
    font-size: 20px;
}

button:hover{
    background-color: violet;
}